.map-container {
  position: relative;
  height: 100vh;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}
.centerButton {
  position: absolute;
  z-index: 100;
  bottom: 40%;
  right: 5%;
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 50%;
  display: grid;
  place-items: center;

  img {
    width: 60%;
  }
}

.marker {
  display: grid;
  background: $third;
  border-radius: 100%;
  place-items: center;
  border: 2px solid white;
  margin: 5px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
  
  p {
    margin: 0;
    color: $white;
    font-weight: $bold;
  }

  &--big {
    height: 40px;
    width: 40px;
  }

  &--middle {
    height: 30px;
    width: 30px;
  }

    &--small {
    height: 20px;
    width: 20px;
  }

  &--active {
    border: 2px solid $color-red !important;
  }

  &--yourlocation {
    background: #4483f7;
    border: 2px solid white;
    animation: glow 1.5s linear infinite alternate;
  }
}

.slick-list {
  z-index: 99;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 10px 0px #535FED;
  }
}