.map-container {
  position: relative;
  height: 100vh;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}
.centerButton {
  position: absolute;
  z-index: 100;
  bottom: 40%;
  right: 5%;
}
